In [1]:
!conda install --yes beautifulsoup4 #installing beautifulsoup

CondaValueError: invalid package specification: #installing

In [2]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

## Downloading Wikipedia page and loading contents of table into a Python array

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M" 
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [5]:
postal_codes = []

for tr in soup.table.find_all('tr')[1:]:
    tds = tr.find_all('td')
    try:
        postal_codes.append([tds[0].text, tds[1].text, tds[2].text.rstrip()])
    except:
        next

## Creating dataframe from the parsed array of values

In [6]:
postal_codes_df = pd.DataFrame(data=postal_codes, columns=['PostalCode', 'Borough', 'Neighborhood'])
postal_codes_df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

Check the size of the newly created dataframe

In [7]:
postal_codes_df.shape

(288, 3)

## Deleting rows from the dataframe where Borough has the 'Not assigned' value and assign the Borough name to the Neighborhood in case the Neighborhood is 'Not assigned'

In [8]:
postal_codes_df.drop(postal_codes_df[postal_codes_df['Borough']=='Not assigned'].index, axis=0, inplace=True)
postal_codes_df.loc[postal_codes_df['Neighborhood']=='Not assigned', 'Neighborhood'] = postal_codes_df[postal_codes_df['Neighborhood']=='Not assigned']['Borough']

In [10]:
postal_codes_df.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

### Combine rows into one row with the neighborhoods separated with a comma for those rows where the PostalCode is the same

In [12]:
postal_codes_df = postal_codes_df.groupby('PostalCode', as_index=False).agg({'Borough' : 'first', 'Neighborhood' : ', '.join})
postal_codes_df = postal_codes_df[['PostalCode', 'Borough', 'Neighborhood']]

### Saving the dataframe to a .csv file for the second task in the assignment

In [13]:
postal_codes_df.to_csv('postal_codes.csv', index=False)

In [16]:
postal_codes_df.head(12)

   PostalCode      Borough                                       Neighborhood
0         M1B  Scarborough                                     Rouge, Malvern
1         M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough                  Guildwood, Morningside, West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7         M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8         M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9         M1N  Scarborough                        Birch Cliff, Cliffside West
10        M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11        M1R  Scarborough                                  Maryvale, Wexford

In [17]:
postal_codes_df.shape

(103, 3)